
  <div class="container">
    <div id="active-control" class="d-none {{activePage}}"></div>
    <div class="container d-flex justify-content-center h-50">
        <img class="col-sm-12" src="https://as1.ftcdn.net/v2/jpg/05/45/85/36/1000_F_545853625_9FPjxn2NOpzLiN1hOVp76wDlMBX7x3rc.jpg"
        alt="christmas-banner"/>
    </div>
    {{> partial items = christmasItems}}
    <!--for get current route -->
    <input type="text" class="get-route get-status d-none" value={{page}} id={{status}} />
  </div>
