<div class="container">
    <div id="active-control" class="d-none {{activePage}}"></div>
    <div class="container d-flex justify-content-center">
        <img class="col-sm-12" src="https://64.media.tumblr.com/a09eea8739d411a7d925108cbbb5ecad/afdc5d3e5c057621-92/s1280x1920/2267e42a505a58318c8ae6f5b8fb1d4a189e46ac.gif"
            alt="halloween-banner" />
    </div>
    {{> partial items = halloweenItems}}
  </div>
