<div class="container">
    <div id="active-control" class="d-none {{activePage}}"></div>
    <div class="sale-banner col-sm-12 text-center">
        <p><span class="sales-title">Sales</span><span>  Save up to 70%</span></p>
    </div>
    {{> partial items = salesItems}}
    <!--for get current route -->
    <input type="text" class="get-route get-status d-none" value={{page}} id={{status}} />
    <input type="text" class="d-none get-app-name" value={{appName}} />
  </div>