body {
    background-color: lightcyan !important;
}

/* head section */
.logo {
    width: 80px;
}
.navbar a {
    text-decoration: none;
}

.nav-menu {
    padding-left: 60px;
}

.list-items li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
    position: relative;
    padding-top: 40px;  
}

.list-items li::before {  
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: peru;
    transition: width 0.3s ease;
}

.list-items li:hover::before {  
    width:100%;
}   

.list-items li a:hover {
    color: peru;
}

.list-items .active::before {
    width:100%
}

.list-items .active {
    color: peru !important;
    opacity: 1;
    cursor: pointer;
}

.nav-login-cart {
    font-size: 24px;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* body section */
.body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ad-picture {
    height: 70vh;
    width: 100%;
    background-image: url("/images/anniversary-banner1.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.ad-picture p {
    font-size: 3.2vw;
    font-weight: 500px;
    text-align:center;
    color: aliceblue;
    position: absolute;
    top: 25%;
    left: 48%;
    
}

.ad-picture a {
    line-height: 2;
    background-color: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.40);
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 70%;
    backdrop-filter: blur(5px);
    cursor: pointer;
    font-weight: 400px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    font-weight: 500;
}

.ad-picture a:hover {
    background-color: rgba(255,255,255,0.50);
}

.arrival-icon {
    width: 40px;
    padding-top: 10px;
}

.discountItems-icon {
    width: 40px;
    padding-top: 10px;
}

.container {
    padding-top: 30px;
}

.categories .card {
    background-color: lightcyan;
    border: none;
}

.card-title {
    height: 35px;
}

.card-body {
    background-color:lightcyan;
}

.categories img {
    border-radius: 50%;
}

.category-icon {
    width: 40px;
    padding-top: 10px;
}

.sale-banner {
    height: 40vh;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5832b7e6893fc0b69de241a5/1493047838270-BV0CAL8WU2K9LWYP6A6F/ipapyrus-banner-2.gif?format=2500w");
    background-position: center;
    background-repeat: no-repeat;
    
}

.sales-title {
    font-size: 80px;
    font-weight: 500;
    color: #D4AF37;
    line-height: 40vh;
}

.footer {
    padding-top: 30px;
    height: 25vh; 
}
.footer p {
    margin-left: 10vw;
    margin-right: 10vw;
}

#footer-announcement {
    font-size: 1.5vw;
}
/* product page */
.product-photo img {
    width: 30vw;
    height: auto;
    left: 5vw;
    position: relative;
}

#addToCart {
    border: 1px solid gray;
    line-height: 2;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color:lightblue;
    color: black;
    font-weight: 500;
}

.addToCart a:hover {
    background-color:lightskyblue;
}

/*remove arrow in input(type: number) textfile */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bi-dash-circle,
.bi-plus-circle {
    cursor: pointer;
}

.alert-message {
    display:none;
}

/* login, register section */
.login-box {
    width: 500px;
    height: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(190, 247, 247);
    display: none;
}

.register-box {
    width: 500px;
    height: 460px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(190, 247, 247);
    display: none;
}

.title {
    text-align: center;
}

.logo_pic {
    position: relative;
    left: 45%;
    top: 10px
}

.bi-x-circle {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 10px;
    top: 8px;
    z-index: 9999;
    font-size: 20px;
}

.login-register-box a {
    cursor: pointer;
    text-decoration: underline;
}

.blur {
    filter: blur(2px);
}

.password-hint {
    font-size: small;
    text-align: center;
    padding-left: 25px;
    padding-right: 20px;
}

.account-list, 
.register-info {
    height: 480px;
    padding-top: 100px;
}

.register-info a {
    cursor: pointer;
}

.nav-account {
    display: none;
}

.account-list-item {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -30px;
}
.account-list-item li {
    margin-left: 30px;
}

.account-list-item li a {
    cursor: pointer;
}

.logout-confirm-message {
    display: none;
    position: absolute;
    width: 600px;
    height: 250px;
    top: 68%;
    left: 50%;
    z-index: 9999;
    background-color: rgb(190, 247, 247);
    transform: translate(-50%, -50%);
    
}

.logout-confirm-message p{
    position: relative;
    top:40%;
}

.logout-confirm-message a{
    position: relative;
    top:45%;
}

.cancel-logout, 
.confirm-logout {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid gray;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;  
}

.confirm-logout:hover {
    color: rgb(240, 10, 10);
}

/* Cart Section */
.cartItemImage {
    width: 15vw;
    height: auto;
}

.cart_quantity {
    width: 3vw;
    text-align: center;
}

.cart_checkout {
    height: 100vh;
}

.cart_buttons a {
    cursor: pointer;
    text-decoration: underline !important;
}

.cart_buttons a:hover {
    color: peru !important;
}

.cart_checkout_btn {
    width: 90%;
    color: #f3f3f3;
    background-color: black;
}

#gift-wrap-img {
    width: 22vw;
    height: auto;
    
}

.gift-wrap-section {
    align-content: center;
    text-align: center;
}

.login_prompt {
    display: none;
    text-align: center;
    margin-top: 10vw !important;
}

.login_prompt a {
    cursor: pointer;
}