body {
    background-color: lightcyan !important;
}

/* head section */
.logo {
    width: 80px;
}
.navbar a {
    text-decoration: none;
}

.nav-menu {
    padding-left: 60px;
}

.list-items li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
    position: relative;
    padding-top: 40px;  
}

.list-items li::before {  
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: peru;
    transition: width 0.3s ease;
}

.list-items li:hover::before {  
    width:100%;
}   

.list-items li a:hover {
    color: peru;
}

.list-items .active::before {
    width:100%
}

.list-items .active {
    color: peru !important;
    opacity: 1;
    cursor: pointer;
}

.nav-login-cart {
    font-size: 24px;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* body section */
.body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ad-picture {
    height: 70vh;
    width: 100%;
    background-image: url("/images/anniversary-banner1.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.ad-picture p {
    font-size: 3.2vw;
    font-weight: 500px;
    text-align:center;
    color: aliceblue;
    position: absolute;
    top: 25%;
    left: 48%;
    
}

.ad-picture a {
    line-height: 2;
    background-color: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.40);
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 70%;
    backdrop-filter: blur(5px);
    cursor: pointer;
    font-weight: 400px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    font-weight: 500;
}

.ad-picture a:hover {
    background-color: rgba(255,255,255,0.50);
}

.arrival-icon {
    width: 40px;
    padding-top: 10px;
}

.discountItems-icon {
    width: 40px;
    padding-top: 10px;
}

.container {
    padding-top: 30px;
}

.categories .card {
    background-color: lightcyan;
    border: none;
}

.card-title {
    height: 35px;
}

.card-body {
    background-color:lightcyan;
}

.categories img {
    border-radius: 50%;
}

.category-icon {
    width: 40px;
    padding-top: 10px;
}

.sale-banner {
    height: 40vh;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5832b7e6893fc0b69de241a5/1493047838270-BV0CAL8WU2K9LWYP6A6F/ipapyrus-banner-2.gif?format=2500w");
    background-position: center;
    background-repeat: no-repeat;
    
}

.sales-title {
    font-size: 80px;
    font-weight: 500;
    color: #D4AF37;
    line-height: 40vh;
}

.footer {
    padding-top: 30px;
    height: 100px; 
}

/* product page */
.product-photo img {
    width: 30vw;
    height: auto;
    left: 5vw;
    position: relative;
}

.addToCart a {
    border: 1px solid gray;
    line-height: 2;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color:lightblue;
    color: black;
    font-weight: 500;
}

.addToCart a:hover {
    background-color:lightskyblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bi-dash-circle,
.bi-plus-circle {
    cursor: pointer;
}

.alert {
    display:none;
}