body {
    background-color: lightcyan !important;
}

/* head section */
.navbar a {
    text-decoration: none;
}

.list-items li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: 800px;
    cursor: pointer;
    position: relative;
    
    padding-top: 40px;
}

.list-items li::before {  
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: peru;
    transition: width 0.3s ease;
}

.list-items li a:hover {
    color: peru;
}

.list-items li:hover::before {  
    width:100%
}

.list-items li.active::before {
    width:100%
}

.bi-cart {
    font-size: 24px;
}

.button {
    border: 1px solid #7a7a7a;
    background-color: white;
    font-size: 20px;
    width: 70px;
    height: 35px;
    border-radius: 75px;
    
}

.button:hover {
    background: #f3f3f3;
}   

.button:active {
    background: peru;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* body section */
.body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ad-picture {
    height: 468px;
    width: 1280px;
    background-image: url("/images/anniversary-banner1.png");
    background-repeat:no-repeat;
    background-position: center left 90%;
    background-attachment:local; 
    align-items: center;
}

.ad-picture p {
    font-size:40px;
    font-weight: 500px;
    text-align:right;
    color: aliceblue;
    position: relative;
    top: 30%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.ad-picture a {
    line-height: 2;
    background-color: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.40);
    border-radius: 30px;
    position: absolute;
    top: 40%;
    left: 72%;
    backdrop-filter: blur(5px);
    cursor: pointer;
    font-weight: 400px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #f3f3f3;
    font-weight: 500;
}

.ad-picture a:hover {
    background-color: rgba(255,255,255,0.50);
}

.arrival-icon {
    width: 40px;
    padding-top: 10px;
}

.discountItems-icon {
    width: 40px;
    padding-top: 10px;
}

.container {
    padding-top: 30px;
}

.categories .card {
    background-color: lightcyan;
    border: none;
}

.categories img {
    border-radius: 50%;
}

.category-icon {
    width: 40px;
    padding-top: 10px;
}

.footer {
    padding-top: 30px;
    height: 100px;
    box-shadow: 5px 10px gray; 
}
